<p class="api-name"><b>Get countries info from:
    <a href="https://restcountries.eu/">restcountries.eu</a></b>

</p>
<div class="container" id="task-12">

  <input type="text" name="country" placeholder="Enter country name"
    style="border: solid 2px rgba(128, 255, 0, 0.5); border-radius: 5px; padding: 10px;">

  <div class="result country-info"
    style="padding: 25px; border-radius: 5px; border: solid 3px rgba(21, 155, 207, 0.5); background-color: rgb(229, 245, 240); font-family: fantasy;">
  </div>
</div>